/* Set color scheme */
:root {
  --bckgnd: #111111;
  --hghlght: #91F36F;
  --btns: #1A8ED0;
  --gry: #dfdfdf;
  --whte: #ffffff;
}

/* Reset default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
fieldset,
legend,
input,
textarea,
pre,
iframe,
hr {
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  font-family: 'inter';
}

/* Box sizing */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Typography */
body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333; /* Default text color */
  background-color: var(--bckgnd);
}

/* Links */
a {
  color: #007bff; /* Default link color */
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */

/* Layout */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}



/* #root {
  flex: 1;
} */
